/* import |Inter, Merriweather| fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');
/* default browser value reset */
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Merriweather', serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
section{
    margin: 120px 0;
}
img{
    vertical-align: middle;
}
.btn{
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all 1s ease;
}
/* Banner Start */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 177px 0;
    max-width: 632px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* Banner End */
/* Category Start */
.category {
    max-width: 802.9px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
}
.category p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
}
.category h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
}
.category img {
    width: 100%;
}
/* Category End */
/* Midnight Party Start */
.midnight-party{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.midnight-party-content h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}
.midnight-party-content {
    padding: 126px 40px 142px 126px;
    max-width: 697px;
}
.midnight-party-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 48px;
}
button.join-now-btn:hover {
    background: #fff;
    color: #F00;
    border-color: #F00;
}
.midnight-party-img img {
    width: 100%;
}
.midnight-party-img {
    margin-right: 138px;
}
/* Midnight Party End */
/* Join Now Start */
.join-now {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px 16px 0px 0px;
    padding: 100px 0 110px;
}
ul.join-now-items li {
    list-style: none;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
ul.join-now-items li span {
    color: #F00;
    font-family: 'Inter', sans-serif;
}
ul.join-now-items {
    margin-bottom: 48px;
}
/* Join Now End */
/* Best Offer Start */
.best-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-content {
    max-width: 393px;
}
.best-offer-content h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.best-offer-content h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.best-offer-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 393px;
}
.best-offer-img {
    max-width: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
}
.best-offer-img img {
    max-width: 364px;
    width: 100%;
}
.best-offer-year-content {
    max-width: 276px;
}
.best-offer-year-content h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.best-offer-year-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}
.best-offer-year-content img {
    width: 100%;
    max-width: 140px;
}
/* Best Offer End */
/* Functional Start */
.functional-content h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.functional-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1068px;
    margin: 0 auto 64px;
    text-align: center;
}
.functional-content h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.functional-content h1 span {
    color: #F00;
}
.functional-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.functional-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.discount-persentage-rel {
    position: relative;
}
.discount-persentage {
    text-align: center;
    background: #F00;
    width: 205px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    border: 9px solid #fff;
    transform: translate(-50%, -50%);
}
.discount-persentage-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    font-weight: 700;
}
.discount-persentage-content span {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
}
.discount-persentage-content {
    transform: rotate(-35deg);
}
.rectangle-shape {
    position: absolute;
    bottom: 1px;
    left: 0; 
    z-index: -1;
}
/* Functional End */
/* Best Gift Start */
.best-gift-content {
    max-width: 896px;
    margin-bottom: 48px;
}
.best-gift-content h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.best-gift-content h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.best-gift-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.best-gift-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.best-gift-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.best-gift-item-hover {
    width: 100%;
    height: 100%;
    background: #242222d1;
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    transition: all .5s ease-in;
    opacity: 0;
}
.best-gift-item:hover .best-gift-item-hover {
    opacity: 1;
}
/* Best Gift End */
/* Newsletter Start */
.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}
.newsletters {
    max-width: 896px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.newsletter-content h1 {
    margin: 40px 0 22px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.newsletter-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
form.newsletter-form {
    margin-top: 48px;
    width: 648px;
    position: relative;
}
form.newsletter-form input {
    width: 100%;
    padding: 25px 0 25px 30px;
    border: none;
    border-radius: 50px;
    background: #FFF;
    color: rgb(7 2 17 / 86%);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}
button.subscribe-btn {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(0%, -50%);
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
}
/* Newsletter End */
/* Footer Start */
footer{
    background: #070211;
    color: #fff;
    padding: 120px 0;
}
/* Footer Top Start */
.footer-top-info {
    display: flex;
    justify-content: space-between;
}
.footer-top-info p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
ul.footer-top-contact-info li {
    list-style: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
ul.footer-top-contact-info li img {
    margin-right: 16px;
}
ul.footer-top-contact-info li a {
    color: #fff;
    text-decoration: none;
}
/* Footer Middle Start */
ul.social-link {
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}
ul.social-link li {
    list-style: none;
}
/* Footer Bottom Start */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
/* Footer End */